header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger {
  display: relative;
  font-size: 1.2rem;
}
.burger span {
  display: block;
  width: 16px;
  height: 2px;
  background: blue;
  margin-bottom: 4px;
}
